{
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "bracketSpacing": true,
  "plugins": [
    "prettier-plugin-apex",
    "@prettier/plugin-xml"
  ],
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
